.boton{
    background-color: $bg-color;
    padding: 5px 10px;
    color: $font-color;
    border: none;
    flex-direction: row;
    justify-content: center;
    margin: 5px 5px;
    gap: 10px;
    &:hover{
        background-color: $hover-color-dark;
        transition: 0.7s;
    }
}